h1{
/*タイトル（今日の傘予報）*/
margin: 0;
color: rgb(255, 255, 255);
}

h2{
/* サブタイトル（東京の天気、北海道の天気、沖縄のetc） */
  display: flex;
 justify-content:center;
 font-size: 25px;
 border-bottom: 3px dotted rgb(236, 122, 122);
 }

p{
 margin: 0;
 font-size: 20px;
 display: flex;
 justify-content:center;
 }

.contents p:nth-of-type(2)::first-letter {
  color: rgb(97, 206, 249);
  font-weight: bold;
}

a{
  margin: 0;
  color: rgb(255, 255, 255); 
  font-size: 20px;
}

body{
  margin: 0px;
  }

header{
 margin: 0px 0px 20px 0px; 
 text-align: center;
 background-color:  rgb(244, 79, 79);
 }

main{
 padding: 10px;
}

#parent{
  display: flex;
  justify-content: space-between;
}

.contents{
border: 3px solid rgb(238, 204, 204);  
margin: 20px 0px;
padding: 10px 15px;
flex-basis:25%;
text-align: center;
}

h2::before {
  content: "●";
  color: rgb(239, 111, 139);
}

img{
 margin: 10px 0px;
 width: 70%; 
}

footer{
 background-color: rgb(244, 79, 79);
 display: flex;
 justify-content: center;
 }

a:visited {
  color: rgb(193, 234, 251);
}

a:hover {
  color: rgb(245, 178, 168);
}